{{#each this}}
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>languages: {{#each languages}}{{this}}
            {{#unless @last}},{{/unless}}
        {{/each}}</p>
{{/each}}